<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.spring.online_class.mapper.EpisodeMapper">

    <!-- 根据videoId找到当前Video的第一章集 -->
    <select id="findFirstEpisodeByVideoId" resultType="Episode">
        SELECT * FROM episode WHERE video_id = #{video_id} and num = 1
    </select>

</mapper>
